/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

:root {
  --x-animation-timing: 500ms;
  --x-animation-function: ease-out;
  --typewriter-speed: 6s;
}

body {
  min-height: 100%;
}

.app-container {
  display: grid;
  min-height: 100%;
  min-width: 100%;
  background-color: #fbfcff;
}

.container-page {
  width: 100vw;
  background-image: url("/images/bg-image-1.webp");
  background-size: cover;
  background-color: #fbfcff;
  background-blend-mode: multiply;
  position: relative;
  display: grid;
  min-height: calc(100vh - 60px);
}

.header {
  min-width: 100%;
  max-height: 60px;
  display: grid;
  grid-template: 1fr 1fr / repeat(6, 1fr);
  grid-template-areas:
    "logo . . . . hamburger"
    ". . . . . menus";
  align-items: center;
  background-color: #064db7;
}

.brand-logo {
  grid-area: logo;
  place-self: center;
}

.navicon {
  grid-area: hamburger;
  width: 100%;
  position: relative;
  display: grid;
  gap: 6px;
  z-index: 2;
  cursor: pointer;
  transition: all 1s var(--x-animation-function);
}

.navmenu {
  grid-area: menus;
  justify-self: end;
  position: absolute;
}

.menu {
  position: relative;
  top: 97px;
  overflow: hidden;
  display: grid;
  list-style: none;
  background-color: #326fca;
  font-weight: 450;
  padding: 0;
  margin: 0;
  opacity: 0;
  visibility: collapse;
  max-height: 0%;
  z-index: 1;
  transition: all 2s var(--x-animation-function);
}

.menu li a {
  text-decoration: none;
  display: flex;
  justify-content: end;
  color: white;
  align-items: center;
  padding: 5px 15px;
  font-family: "Inria Sans", serif;
  font-size: 0.9rem;
  font-weight: 600;
  border: 0.1rem solid black;
}

.menu li a:hover {
  background-color: black;
}

.navicon::before,
.navicon::after,
.navicon input {
  content: "";
  width: 25px;
  height: 3px;
  margin-right: 10px;
  justify-self: end;
  background-color: white;
  transition: all var(--x-animation-timing) var(--x-animation-function);
}

.form-contact input {
  margin-bottom: 1.6rem;
  font-size: 0.7rem;
}

.navicon input {
  appearance: none;
  pointer-events: none;
}

.navicon:has(input:checked) {
  gap: 0;
}

.navicon:has(input:checked)::before {
  rotate: 45deg;
}

.navicon:has(input:checked)::after {
  position: absolute;
  rotate: 135deg;
}

.navicon:has(input:checked) ~ .navmenu .menu {
  opacity: 1;
  visibility: visible;
  max-height: 100%;
}

.navicon input:checked {
  opacity: 0;
  width: 0;
}

.welcome {
  display: grid;
  grid-template-rows: repeat(4, max-content);
  max-width: 90%;
  place-self: center;
  justify-items: center;
  row-gap: 30px;
  padding: 20px 0;
}

h1.greetings {
  position: relative;
  background-color: color-mix(in xyz-d65, white 68%, currentcolor);
  box-shadow: 2px 2px 29px 5px #d4d4d4;
  border-radius: 8px;
  padding: 0.1rem;
}

h1.greetings::before,
h1.greetings::after {
  content: "";
  position: absolute;
  inset: 0;
}

h1.greetings::before {
  background-color: color-mix(in xyz-d65, white 68%, currentcolor);
  box-shadow: 2px 2px 29px 5px #d4d4d4;
  border-radius: 8px;
  animation: typewriter var(--typewriter-speed) steps(20) 1s forwards;
}

h1.greetings::after {
  width: 0.125em;
  background: black;
  animation:
    typewriter var(--typewriter-speed) steps(20) 1s forwards,
    blink 750ms steps(20) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

.button-project {
  height: 45px;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Inria Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 550;
  letter-spacing: 0.2rem;
  color: #fff;
  background-color: #326fca;
  border: none;
}

.social {
  background-color: #064db7;
  color: #fff;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 45px;
  width: 150px;
  border-radius: 5px;
  place-content: center space-around;
  list-style: none;
  opacity: 0;
  transform: translateY(5rem);
  animation: social-in-up 2s ease calc(var(--typewriter-speed) + 2s) forwards;
}

.social li {
  cursor: pointer;
}

@keyframes social-in-up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.greetings {
  font-family: "Liber Franklin", serif;
  font-weight: 350;
}

.greetings .name {
  font-family: Poppins, serif;
  font-weight: 550;
}

.brand-message {
  font-family: SUSE, serif;
  font-size: 1rem;
  font-weight: 390;
  text-align: center;
  width: 50%;
}

.about-page {
  position: relative;
  padding: 10% 0;
  display: grid;
  margin: auto;
  width: 80%;
  gap: 50px;
}

.about {
  display: grid;
  font-family: Roboto, serif;
  line-height: 1.8rem;
}

.me-heading {
  display: flex;
  padding: 2% 1%;
  color: #064db7;
  font-family: Poppins, serif;
  font-size: 2rem;
}

h1.me-heading {
  display: flex;
  justify-content: center;
}

h2.me-heading {
  font-size: 1.2rem;
  margin-top: 20%;
  font-weight: 540;
}

.tools {
  width: 100%;
  opacity: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  font-family: Poppins, serif;
  place-content: center space-between;
  transform: translateY(5rem);
  animation: social-in-up 2s ease 2s forwards;
}

.tool {
  width: 100px;
  padding: 5px;
  background-color: snow;
  text-align: center;
}

.contact-page {
  display: grid;
  place-content: center;
}

.contact {
  width: 90%;
  margin: auto;
  margin: 20% auto;
  display: grid;
  row-gap: 40px;
}

.contact-heading {
  display: grid;
  justify-items: center;
  gap: 10px;
  font-family: Poppins, serif;
}

.form-contact {
  font-family: Poppins, serif;
  font-size: 1rem;
}

.container-button {
  display: flex;
  justify-content: end;
  margin-bottom: 2rem;
}

.button-submit {
  width: 120px;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 550;
  letter-spacing: 0.2rem;
  color: #fff;
  background-color: #326fca;
  border: none;
  margin: 0.6rem 0;
}

textarea[placeholder] {
  font-size: 0.7rem;
}

@media only screen and (width >= 600px) {
  .header {
    padding: 5px;
  }

  .navicon {
    visibility: collapse;
    opacity: 0;
    width: 0;
  }

  .menu {
    top: 0;
    visibility: visible;
    opacity: 1;
    display: flex;
    background-color: transparent;
  }

  .menu li a {
    border: none;
  }
}

@media only screen and (width > 800px) {
  .about-page {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10%;
    width: 70%;
    margin: auto;
  }

  h2.me-heading {
    margin-top: 6%;
  }
}
