<section class="about-page">
  <div class="about">
    <h1 class="me-heading">About Me</h1>
    <p>
    I'm a front-end developer with a strong foundation in UI design, dedicated
    to building clean, responsive, and user-friendly web applications. My
    primary focus is on front-end development, where I leverage modern
    technologies like HTML, CSS, JavaScript, and Ember.js or Svelte to bring
    designs to life. I have a keen eye for detail, ensuring that every project
    I work on not only functions flawlessly but also provides an engaging and
    intuitive user experience. Whether I'm optimizing performance, implementing
    interactive features, or ensuring cross-browser compatibility, my goal is
    to create web applications that are as beautiful as they are functional.
    </p>

    <p>
    When I'm not coding, you'll find me exploring new design tools,
    experimenting with cutting-edge technologies, or attending meetups to
    connect with like-minded professionals. I believe that sharing knowledge
    and collaborating with others is key to staying ahead in this ever-evolving
    field. Let's connect and create something amazing together!
    </p>

    <p>
    I'm open to job opportunities where I can contribute, learn and grow.
    </p>
    <LinkTo @route="contact">
      <button class="button-project" type="button">Contact</button>
    </LinkTo>
  </div>
  <div class="">
    <h2 class="me-heading">Technologies and Tools:</h2>
    <div class="tools">
      <div class="tool">HTML</div>
      <div class="tool">CSS</div>
      <div class="tool">JavaScript</div>
      <div class="tool">EmberJS</div>
      <div class="tool">Svelte</div>
      <div class="tool">NodeJS</div>
      <div class="tool">Express</div>
      <div class="tool">LoopBackJS</div>
      <div class="tool">TypeScript</div>
      <div class="tool">SASS</div>
      <div class="tool">Bootstrap</div>
      <div class="tool">Tailwind</div>
      <div class="tool">Git</div>
      <div class="tool">Github</div>
      <div class="tool">SQL</div>
      <div class="tool">SQLite</div>
      <div class="tool">MySQL</div>
      <div class="tool">PostgreSQL</div>
      <div class="tool">Python</div>
      <div class="tool">Postman</div>
      <div class="tool">Linux</div>
    </div>
  </div>

</section>
