{{page-title "Dayo Olutayo | Frontend Developer"}}

<div>
  <nav class="navbar navbar-expand-lg bg-body-secondary">
    <div class="container-fluid">
      <a class="navbar-brand ms-3" href="#">
        <img src="images/brand-logo.png" class="img-fluid" alt="brand logo" width="30" height="40"/>
      </a>
      <ul class="nav justify-content-end">
        <li class="nav-link">
          <a class="nav-link">Home</a>
        </li>
        <li class="nav-link">
          <a class="nav-link">About</a>
        </li>
        <li class="nav-link">
          <a class="nav-link">Projects</a>
        </li>
        <li class="nav-link">
          <a class="nav-link">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  {{outlet}}
</div>
