{{page-title "Dayo Olutayo | Frontend Developer"}}

<div class="app=container">
  <header class="header">
    <img src="images/brand-logo.png" class="brand-logo" alt="Brand identity of Dayo Olutayo" width="25" height="50"/>
    <label for="navtoggler" class="navicon">
      <input type="checkbox" id="navtoggler" aria-label="Toggle navigation">
    </label>
    <nav class="navmenu">
      <ul class="menu">
        <li class="">
          <a href="#" class="">Home</a>
        </li>
        <li class="">
          <a href="#" class="">About</a>
        </li>
        <li class="">
          <a href="#" class="">Projects</a>
        </li>
        <li class="">
          <a href="#" class="">Contact</a>
        </li>
      </ul>
    </nav>
  </header>

  {{outlet}}


</div>
