<section class="contact-page">
  <div class="contact">
    <div class="contact-heading">
      <h1>Contact</h1>
      <p>Let’s connect and create something amazing together! </p>
    </div>
    <Contact />
  </div>
</section>
