<section>
  <p>
    Hi, I'm <span>Dayo Olutayo</span>
  </p>
  <p>
    As a UI Designer and Frontend Developer, I specialize in creating visually
    stunning and user-centric web applications. 
  </p>
  <button class="bg-primary">Projects</button>
</section>
