<div class="container-projects">
  <div class="projects-heading">
    <h1>Projects</h1>
    <p>Here are some of my recent projects.</p>
  </div>
  <div class="projects">
    <Project
      @image="dutycalculator.svg"
      @imageAlt="Duty Calculator, https://www.dutycalculator.ng; a web application that calculates import duty."
      @github="dutycalculator"
      @globe="www.dutycalculator.ng"
      >
      <:header>
        Duty Calculator
      </:header>
      <:description>
        Duty Calculator is a web application tool that calculates import duty on goods imported
        into Nigeria. It is in production and used by importers, custom agents,
        and so on. It is powered by an API server, that make the functionality
        possible.
      </:description>
    </Project>
    <Project
      @image="express-js.svg"
      @imageAlt="Duty API Server, that powered import duty calculator."
      @github="DutyApiServer"
      >
      <:header>
        Duty API Server
      </:header>
      <:description>
       An API server, developed with ExpressJS and SQLite, that powered the
       <span>www.dutycalculator.ng</span>. A tool used by importers and others to calculate
       import duty.
      </:description>
    </Project>
    <Project
      @image="polarisx150x300.svg"
      @imageAlt="Ember PolarisX, https://polarisx.olutayo.dev; experiment with Polaris and Tailwindcss."
      @github="polaris-demo"
      @globe="polarisx.olutayo.dev"
      >
      <:header>
        Polaris and Tailwind
      </:header>
      <:description>
        This is an experiment with EmberJS Polaris, TypeScript and Tailwind CSS.
        Polaris is the next version of EmberJS, and it has new capabilities like
        Template tags, Route-template, Embroider, Vite, and many more.
      </:description>
    </Project>
    <Project
      @image="luckycast.svg"
      @imageAlt="LuckyCast - a dice rolling game"
      @github="reactluckycast"
      @globe="luckycast.olutayo.dev"
      >
      <:header>
        LuckyCast - Dice Rolling
      </:header>
      <:description>
       LuckyCast, a dice rolling game made with ReactJS.
      </:description>
    </Project>
  </div>
</div>
