<div class="container-projects">
  <div class="projects-heading">
    <h1>Projects</h1>
    <p>Here are some of my recent projects.</p>
  </div>
  <div class="projects">
    <Project
      @image="dutycalculator.svg"
      @imageAlt="Duty Calculator, https://www.dutycalculator.ng; a web application that calculates import duty."
      @github="dutycalculator"
      @globe="https://www.dutycalculator.ng"
      >
      <:header>
        Duty Calculator
      </:header>
      <:description>
        Duty Calculator is a web application tool that calculates import duty on goods imported
        into Nigeria. It is in production and used by importers, custom agents,
        and so on. It is powered by an API server, that make the functionality
        possible.
      </:description>
    </Project>
    <Project
      @image="express-js.svg"
      @imageAlt="Duty API Server, that powered import duty calculator."
      @github="DutyApiServer"
      >
      <:header>
        Duty API Server
      </:header>
      <:description>
       An API server, developed with ExpressJS and SQLite, that powered the
       <span>www.dutycalculator.ng</span>. A tool used by importers and others to calculate
       import duty.
      </:description>
    </Project>
  </div>
</div>
