<div class="container-projects">
  <div class="projects-heading">
    <h1>Projects</h1>
    <p>Here are some of my recent projects.</p>
  </div>
  <div>
    <Project
      @image="dutycalculator.svg"
      @imageAlt="Duty Calculator, a tool that calculates import duty."
      >
      <:header>
        Duty Calculator
      </:header>
      <:description>
        Duty Calculator is a tool that calculates import duty on goods imported
        into Nigeria. It is in production and used by importers, custom agents
        and so on. It is powered by an API server, that make the functionality
        possible.
      </:description>
    </Project>
  </div>
  <div>
    <Project
      @image="express-js.svg"
      @imageAlt="Duty API Server, that powered import duty calculator."
      width="150"
      >
      <:header>
        Duty API Server
      </:header>
      <:description>
       The API server, developed with ExpressJS, that powered the
       dutycalculator.ng.
      </:description>
    </Project>
  </div>
</div>
